.entrance-button {
    -fx-font-size: 20px;
    -fx-background-color: #2e8b57;
    -fx-text-fill: white;
    -fx-background-radius: 10px;
    -fx-padding: 10px 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.entrance-button:hover {
    -fx-background-color: #3cb371;
}
